<!-- 
<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/" text="Regresar"
      color="primary"
      mode="ios"></ion-back-button>
    </ion-buttons>

    <ion-title>Action-sheet</ion-title>

  </ion-toolbar>
</ion-header>
-->

<app-header titulo="Action Sheet"></app-header>

<ion-content class="ion-padding">

  <h1>Bienvenido a Action Sheet </h1>
  
  <ion-button (click)="onClick()" expand="block">mas opciones</ion-button>
  <ion-button (click)="onClick()" expand="block">aaction sheet</ion-button>

</ion-content>

